@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
/* Banner style  */
header {
  border: 2px solid rebeccapurple;
  height: 808px;
  background-image: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
}
.header_info {
  text-align: right;
  width: 525px;
  background: rgb(73, 153, 51);
  padding: 10px;
}
.header_content {
  text-align: right;
  width: 525px;
  margin: auto;
  background: rebeccapurple;
}

.header_content > h2 {
  font-size: 65px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: right;
  color: #ffffff;
}
.header_content > p {
  width: 494px;
  /* height: 78px; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: right;
  color: #ffffff;
}

.btn_orange {
  width: 160px;
  height: 64px;
  background: #ffffff;
  border-radius: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #005fac;
  border: none;
}

/*
===================== 
failures_year
===================== */

.failures_year {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 87px;
}

.failures_year_content {
  margin-top: 200px;
  width: 416px;
  height: 400px;
}
.failures_year_content > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
  margin-bottom: 24px;
}
.failures_year_content > .singlePara {
  width: 416px;
  height: 104px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 16px;
}
/* Icon  */
i {
  padding-right: 10px;
  color: #16d887;
}
.failures_year_content > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

/* ==================
my_plan_container_content
================== */
#my_plan {
  margin-top: 129px;
  text-align: center;
}
.my_plan_title {
  /* text-align: center; */
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 50px;
}
.my_plan_container_content {
  display: flex;
  justify-content: space-around;
}

.b > h3 {
  margin-top: 24px;
  color: #151414;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 16px;
}

.b > p > span {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #737272;
}

/* =============== */
/* mindSet  */
/* =============== */

.mindset {
  margin-top: 130px;
  background: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url("../images/watch.png");
  border-radius: 8px;
  background-repeat: no-repeat, no-repeat;
  height: 300px;
}

.mindset > div {
  width: 459px;
  height: 94px;
  padding: 59px 0 59px 64px;
}

.positive_h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
    color: #ffffff;
    margin-bottom: 24px;
}
