/* Google font  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
/* Header > Banner style  */
header {
  height: 808px;
  width: 100%;
  background-image: url("../images/banner/banner2.png");
  background-repeat: no-repeat;
  position: relative;
}

.header_content {
  position: absolute;
  width: 600px;
  right: 56px;
  top: 170px;
  padding: 20px;
}

/* header_content */
.header_content {
  margin: 0 10px;
}
.header_content > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 76px;
  text-align: right;
  color: #151414;
}
.header_content > p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: right;
  color: #2e2b2b;
  margin-top: 24px;
}
.btn_father {
  text-align: right;
}
.btn_orange {
  margin-top: 32px;
  width: 160px;
  height: 64px;
  background: #f15b22;
  border-radius: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: white;
  border: none;
}

/*
===================== 
failures_year
===================== */

.failures_year {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 87px;
}

.failures_year_content {
  margin-top: 200px;
  width: 416px;
  height: 400px;
}
.failures_year_content > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #151414;
  margin-bottom: 24px;
}
.failures_year_content > .singlePara {
  width: 416px;
  height: 104px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 16px;
}
/* Icon  */
i {
  padding-right: 10px;
  color: #16d887;
}
.failures_year_content > p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

/* ==================
my_plan_container_content
================== */
#my_plan {
  margin-top: 129px;
  text-align: center;

  margin-bottom: 124px;
}
.my_plan_title {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 50px;
}
.my_plan_container_content {
  display: flex;
  justify-content: space-around;
}

.b > h3 {
  margin-top: 24px;
  color: #151414;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 16px;
}

.b > p > span {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  color: #737272;
}

/* =============== */
/* mindSet  */
/* =============== */

.mindset {
  background: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url("../images/watch.png");
  border-radius: 8px;
  background-repeat: no-repeat;
  /* background-size: cover; */
  height: 300px;
  width: 90%;
  margin: 0 auto;
}

.mindset > div {
  width: 459px;
  height: 94px;
  padding: 59px 0 59px 64px;
}

.positive_h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 47px;
  color: #ffffff;
  margin-bottom: 24px;
}

/* Footer  */
footer {
  margin-top: 143px;
  height: 500px;
  background: #151414;
  display: flex;
  justify-content: space-between;
  padding: 116px;
}
.footer_content {
  width: 485px;
  height: 317px;
}
footer > .footer_content > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #f8f8f8;
  margin-bottom: 16px;
}

.prg {
  width: 485px;
  height: 78px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 24px;
}

.email,
.phone {
  height: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.phone {
  margin: 16px 0;
}
/* icon color  */
.c {
  font-size: 34px;

  color: #1da1f2;
}

.r {
  color: rgba(219, 25, 18, 0.87);
  font-size: 34px;
}

/* Subscribe */
.contact {
  color: #f3f3f3;
  margin-bottom: 31px;
}

input {
  outline: none;
  width: 325px;
  height: 64px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #f3f3f3;
  background: #151414;
  border: 2px solid;
  border-radius: 8px;
  padding: 0 20px;
  margin-bottom: 16px;
}

.btn_primary {
  width: 170px;
  height: 64px;
  background: #005fac;
  border-radius: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
